.columns {
    display: flex;
    flex-direction: row;
}

app-tamanios-grid {
    margin-left: 2rem;
    margin-right: 2rem;
    width: 33%;
}

app-tipo-precios {
    margin-right: 2rem;
    width: 33%;
}

app-colores-grid {
    margin-right: 2rem;
    width: 33%;
}
