<div class="formgrid grid mt-8 mx-5">
  <div class="field col">
    <label>Colores</label>
    <p-chips id="colores" [(ngModel)]="asColores" (onAdd)="addColor($event)" (onRemove)="removeColor($event)"></p-chips>
  </div>

  <div class="field col">
    <label>Tamaños</label>
    <p-chips id="tamanios" [(ngModel)]="asTamanios" (onAdd)="addTamanio($event)" (onRemove)="removeTamanio($event)"></p-chips>
  </div>
</div>

<div class="formgrid grid">

  <div class="col">

  </div>

  <div class="col">
    <p-dropdown placeholder="Seleccione Tipo" [options]="aTipoPrecios" [(ngModel)]="newTipoPrecio" optionLabel="tipo_precio" optionValue="idprecio"></p-dropdown>
    <p-dropdown placeholder="Seleccione Tamaño" [options]="aTamanios" [(ngModel)]="newTamanio" optionLabel="nombre" optionValue="idtamanio"></p-dropdown>
  </div>

</div>


<p-toast position="bottom-right"></p-toast>
