h2 {
    text-align: center;
}

.button-row {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1rem;
}

.button-row button {
    margin-right: 0.5rem;
}

.button-row input {
    width: 65%;
    margin-right: 0.5rem;
}

.select-row {
    font-weight: bold;
}

mat-table {
    cursor: pointer;
}
