<div class="container">
    <h2> Tipos de Precio</h2>

    <div class="button-row">
        <input type="text" [(ngModel)]="tipo" id="tipo">
        <button mat-flat-button color="primary">Guardar</button>
        <button mat-flat-button color="warn">Borrar</button>
    </div>

    <mat-table [dataSource]="listaTipos" class="mat-elevation-z8">

        <ng-container matColumnDef="idprecio">
            <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.idprecio}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="tipo_precio">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.tipo_precio}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="selectRow(row)" [class.select-row]="selectedRow === row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
